<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询记录</title>
    <script src="js/jquery-3.5.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="container">

<table class="table table-condensed">
    <tr>
        <th>姓名</th>
        <th>卡号</th>
        <th>状态</th>
        <th>申请时间</th>
    </tr>
    <tr th:each="info:${information}" th:class="${info.getStatus()==0 ? 'danger':'success'}">
        <td th:text="${info.getName()}"></td>
        <td th:text="${info.getNumber()}"></td>
        <td th:text="${info.getStatus()==0?'处理中':'已补办'}"></td>
        <td th:text="${#temporals.format(info.getApplyTime())}"></td>

    </tr>
</table>
</div>
</body>
</html>
